body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../../media/examples/lizard.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background: linear-gradient(135deg, #1e163d 0%, #b407ac 25%, #2f0dca 50%, #e60da8 75%, #072136 100%);
    overflow: hidden;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 8px;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.container {
    padding: 16px;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
